html {
  scrollbar-width: thin;
}

body {
  overflow-x: hidden;
}

.tab__elem,
.tab__action {
  display: flex;
}

.tab__icon {
  width: 16px;
  height: 16px;
}

.tab__title-container {
  flex-grow: 1;
  overflow: hidden;
}

.tab__title {
  white-space: nowrap;
  width: fit-content;
}
