@media (prefers-color-scheme: dark) {
  :root {
    --text: #ddd;
    --back: #111;
    --hover-tint: #5552;
    --active-tint: #5553;
    --active-hover-tint: #5554;
  }
}

:root {
  --text: #111;
  --back: #eee;
  --hover-tint: #5552;
  --active-tint: #fff;
  --active-hover-tint: #fff5;
}

body {
  background-color: var(--back);
  color: var(--text);
}

#tabs,
#tabs--pinned,
#tabs--actions {
  padding: 4px;
}

.tab__item {
  padding: 0 0 0 5px;
  border-radius: 4px;
  align-items: center;
  gap: 10px;
  min-height: 24px;
}

.tab__close {
  padding: 5px;
  border-radius: 4px;
}

.tab__item:hover,
.tab__close:hover {
  background-color: var(--hover-tint);
}

.active {
  background-color: var(--active-tint);
  box-shadow: 0 2px 4px #0005;
}

.active:hover {
  background-color: var(--active-hover-tint);
}

/* TODO: Make pinned tabs sticky */

#tabs--pinned {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px #0005;
  background: var(--back);
}
