@media (prefers-color-scheme: dark) {
  :root {
    --text: #ddd;
    --back: #111;
    --hover-tint: #5552;
    --highlighted-tint: #5553;
    --highlighted-hover-tint: #5554;
  }
}

body {
  background-color: var(--back);
  color: var(--text);
  padding: 4px;
}

.tab__item {
  padding: 0 0 0 5px;
  border-radius: 4px;
  align-items: center;
  gap: 10px;
}

.tab__close {
  padding: 5px;
  border-radius: 4px;
}

.tab__item:hover,
.tab__close:hover {
  background-color: var(--hover-tint);
}

.highlighted {
  background-color: var(--highlighted-tint);
  box-shadow: 0 4px 4px #0005;
}

.highlighted:hover {
  background-color: var(--highlighted-hover-tint);
}

/* TODO: Make pinned tabs sticky */

#tabs--pinned {
  position: sticky;
  top: 0;
  box-shadow: 0 4px 4px #0005;
  background: var(--back);
}
