:root {
  --tab-foreground-text: #0f0f0f;
  --tab-text: #111;
  --frame: #eee;
  --hover-tint: #5552;
  --tab-selected: #fff;
  --tab-line: #fff;
  --active-hover-tint: #bbb;
  --tab-text-annotation: #666;

  --container-padding: 4px;
  --tab-padding: 5px;

  --additional-background-0: #000;
  --additional-background-1: #000;
  --additional-background-2: #000;
  --additional-background-3: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tab-text: #ddd;
    --frame: #111;
    --hover-tint: #5552;
    --tab-selected: #333;
    --tab-line: #333;
    --active-hover-tint: #444;
  }

  img[src^='chrome://global/skin/'],
  img[src^='chrome://browser/skin/'],
  img[src^='moz-extension://'],
  img[src^='/icons/firefox'],
  .audio__indicator::before,
  .discard__indicator::before {
    filter: invert(1);
  }

  img[src='chrome://browser/skin/privatebrowsing/favicon.svg'] {
    filter: none;
  }
}

body {
  background-color: var(--frame);
  color: var(--tab-text);
}

#tabs,
#pinned-tabs,
#tab-actions {
  padding: var(--container-padding);
}

#pinned-tabs:empty {
  box-shadow: none;
  padding: 0;
}

.tab__elem,
.tab__action {
  padding: 0 0 0 5px;
  border-radius: var(--tab-padding);
  align-items: center;
  min-height: 26px;
  border: 1px solid transparent;
}

.tab__icon {
  margin-right: 6px;
}

.overflow {
  mask-image: linear-gradient(to right, #000 calc(100% - 2em), transparent);
}

.overflow:hover {
  animation: fade-left 10s linear .5s;
}

.overflow .tab__title:hover {
  animation: scroll 10s linear .5s;
}

/* .tab__title.ellipsis:hover {
  animation: scrollEllipsis 10s linear .5s;
} */

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  99% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes fade-left {
  0% {
    mask-image: linear-gradient(to right, transparent, #000 2em calc(100% - 2em), transparent);
  }

  99% {
    mask-image: linear-gradient(to right, transparent, #000 2em calc(100% - 2em), transparent);
  }

  100% {
    mask-image: linear-gradient(to right, #000 calc(100% - 2em), transparent);
  }
}

.discard__indicator,
.audio__indicator {
  max-width: 8px;
  max-height: 8px;
  font-size: 8px;
  position: relative;
  width: 0;
}

.discard__indicator {
  left: -12px;
  top: 3px;
}

.audio__indicator {
  left: -12px;
  top: -10px;
}

.tab__close {
  padding: 5px;
  border-radius: 4px;
}

.tab__elem:hover,
.tab__close:hover,
.tab__action:hover {
  background-color: var(--hover-tint);
}

.tab__audio {
  font-size: 10px;
  font-weight: 600;
  color: #aaa;
}

.audio__annotation {
  white-space: nowrap;
  color: var(--tab-text);
  font-size: .75em;
  font-weight: 600;
  margin-left: 6px;
  margin-right: 6px;
  text-transform: uppercase;
}

.tab__annotation {
  color: var(--tab-text-annotation);
  padding-right: 5px;
}

.highlighted {
  background-color: var(--tab-selected);
  box-shadow: inset 0 0 8px #000a;
}

.attention {
  font-weight: 700;
}

.active {
  background-color: var(--tab-selected);
  border: 1px solid var(--tab-line);
  box-shadow: 0 2px 4px #0005;
}

.active:hover {
  background-color: var(--tab-selected);
}

#drag-ghost 
{
  padding: 4px 0;
  background-color: var(--frame);
  border: 1px solid #222;
  border-radius: 5px;
}

/* test */

.audio__indicator::before,
.discard__indicator::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-size: contain;
}

.audible .audio__indicator::before {
  background-image: url(chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg);
}

.muted .audio__indicator::before {
  background-image: url(chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg);
}

.discard__indicator::before {
  background-image: url(chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg);
}
